$break-small: 600px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$white: #fff;
$black: #000;
$dark-white: rgba(255, 255, 255, 0.75);
$blue: #24bbff;
$dark-blue: #2084ff;
$green: #50fcce;
